* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Kembali */
.kembali-home{
  margin-top: -33%;
}

.kembali-home a{
  width: 40px;
  height: 40px;
  font-size: 50px;
}

/* Style the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: -5%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }
  
  .brand-logo {
    height: 80px;
    margin-left: -9%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s ease-in-out;
  }
  
  .nav-list a:hover {
    color: #000;
  }
  
  .btn-login {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    background-color: #4b96ec;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .login-btn:hover {
    background-color: #333;
  }
  /* Header End */

  /* Gambar section start */
  .gambar {
    display: flex;
    align-items: center;
    background-color: #4b96ec;
    padding-top: 50px; /* Adjusted padding-top */
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
  }

  .marak{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: -15%;
  }
  .marak img{
    width: 50%;
  }
  .marak-content{
    max-width: 300px;
  }
  .marak-content h1{
    font-size: 40px;
    font-weight: 800;
    margin-left: -50%;
    margin-top: -20%;
  }

/* Gambar section End */

/* Start */
.content{
    margin-top: -23%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-left: -40px;
}

/* Footer section start*/

.footer{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    bottom: 0px;
    width: 100%;
    background: #AAB6BF;
    color: #000;
    
  }
  
  .main-content{
    display: flex;
  }
  .main-content .left h1{
    color: #4B96EC;
    font-size: 45px;
  }
  .main-content .center h1{
    font-size: 25px;
    margin-top: 20px;
  }

  
  .main-content .box{
    flex-basis: 50%;
    padding: 15px 20px;
  }

  .left{
    margin-left: 5% ;
  }
    .center{
    margin-left: 20%;
  }
  
    .right{
    margin-left: 27%;
  }
  .social a{
    margin-right: -90%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 20px;
    color: #4B96EC;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
  }

  .box .footer-content{
    margin: 20px 0 0 0;
  }
  .center .content .place{
    margin: 20px 0 0 0 ;
  } 
  .right .content .social{
    margin: 20px 0 0 0 ;
  } 
  /* Footer End */